@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
body {
  text-align: center;
}

main {
position: relative;
}

p {
  font-size: 19px;
}

.dialogue1 {
  position: absolute;
  top: 31.6%;
  left: 17%;
}

.dialogue2 {
  position: absolute;
  top: 49.4%;
  left: 14%;
}

@media (max-width: 400px) {
  p {
  font-size: 17px;
}
.dialogue1 {
  position: absolute;
  top: 31.4%;
  left: 15.6%;
}

.dialogue2 {
  position: absolute;
  top: 49.2%;
  left: 12%;
}
}

@media (max-width: 350px) {
  p {
  font-size: 15px;
}
.dialogue1 {
  position: absolute;
  top: 31.5%;
  left: 15.6%;
}

.dialogue2 {
  position: absolute;
  top: 49.3%;
  left: 12%;
}
}

@media (max-width: 300px) {
  p {
  font-size: 14px;
}
.dialogue1 {
  position: absolute;
  top: 31.25%;
  left: 14%;
}

.dialogue2 {
  position: absolute;
  top: 49%;
  left: 9%;
}
}
